body {
  background-color: black;
  margin: 0;
  padding: 0;
}
.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}
nav {
  color: #f0de36;
  padding: 30px 70px;
  font-family: "Tektur", cursive;
}

nav ul {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 150px;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
  font-size: 20px;
}

nav a {
  text-decoration: none;
  color: #f6f4eb;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: #f0de36;
}
.logo {
  max-height: 130px;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url("/images/gcb-3.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 250px;
}
h1 {
  font-weight: bolder;
  font-size: 70px;
  color: #f6f4eb;
  font-family: "Ruwudu", serif;
}
h2 {
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 60px;
  color: #f0de36;
  font-family: "Tilt Prism", cursive;
}
p {
  padding: 30px 30px;
  line-height: 25px;
  font-size: 15px;
  text-align: justify;
}
main .main-image-wrapper {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url("/images/beer-tap.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 100px;
  padding-top: 10px;
}
main .beer-title {
  font-size: 60px;
  color: #f0de36;
  font-family: "Tilt Prism", cursive;
  font-weight: 500;
  padding-bottom: 30px;
  line-height: 1.5;
}
main .grid-2-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
main .image-container {
  padding-left: 60px;
  padding-top: 40px;
}
main .golden-cactus-secondary-logo {
  max-width: 300px;
}

main .box-container {
  display: flex;
  justify-content: right;
}
main .box {
  width: 600px;
  display: inline-block;
  background-color: #b9b4c7;
  opacity: 0.7;
  border-radius: 10px;
  text-align: center;
  padding-bottom: 25px;
  margin-right: 30px;
}
main .beer-name {
  font-family: "Tektur", cursive;
  font-size: 30px;
  font-weight: 600;
  color: #141e46;
  padding-top: 20px;
}
main .beer-description {
  font-family: "Tektur", cursive;
  font-size: 20px;
  font-weight: 400;
  color: #141e46;
  text-align: center;
  padding-bottom: 10px;
}

@media (max-width: 900px) {
  .logo {
    max-height: 90px;
  }
  nav li {
    font-size: 15px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 35px;
  }
}
